#tour {
border:1px double #eee;
width:40%;
float:left;
}

#tours_country {
font:medium;
}

#tours_description {
font:small;
}

#tours_num_nights {

}

#tours_exercise {

}

#tours_imgurl {

}

#tours_imgalt {

}

#tours_padult {

}

#tours_pchild {

}

#tours_meals {

}
